repos:
  - repo: local
    hooks:
      - id: gremlins-check
        name: Detect gremlins / unwanted Unicode characters
        entry: python3 -m tests.hooks.gremlins
        language: system
        types: [text]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: \.md$
