name: Preflight Checks

on:
  pull_request:
    types: [edited, opened, reopened, synchronize]

  workflow_dispatch:

jobs:
  preflight_checks:
    name: "pre-commit hooks"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install prek
        uses: j178/prek-action@v1
        with:
          install-only: true

      - name: Run pre-commit hooks on changed files
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            printf "\033[1;34mRunning pre-commit hooks for pull request...\033[0m\n"
            prek run \
              --show-diff-on-failure --color=always \
              --from-ref "origin/${{ github.event.pull_request.base.ref }}" --to-ref HEAD
          else
            # for manual runs / main branch runs, fall back to checking all files
            printf "\033[1;34mRunning pre-commit hooks for all files...\033[0m\n"
            prek run \
              --show-diff-on-failure --color=always \
              --all-files
          fi
